@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

/* Hide Next.js development indicator */
nextjs-portal {
  display: none !important;
}